.details {
    padding: 1rem;
}

.margin {
    margin: 1.25rem 1rem 1.75rem;
}

h2 {
    margin-bottom: 2.5rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3.5rem;
    padding-top: 5rem;
}

.inStore, .coming, .delivered {
    border-radius: .85rem;
    border: 1px dashed var(--ion-color-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}